<div class="container-fluid  padding-sm">

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="container-fluid nopadding">
        <span class="panel-title">오늘 일정</span>
        <span class="pull-right">{{date | date:'yyyy.MM.dd'}}
        </span>
      </div>
    </div>
    <div class="panel-body"></div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading font-lg">채팅</div>
    <div class="panel-body"></div>
    <div class="panel-footer padding-sm"><input class="form-control" style="width:100%; height:3em;"/></div>
  </div>
</div>
