<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-bottom:0.2em solid #9B9D9C;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="hidden-xs navbar-brand" href="#buildings">첫화면</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-show="authenticated">
        <li role="presentation">
          <a href="#addBuilding">
            <i class="fa fa-pencil"></i>
            매물추가</a>
        </li>
        <li role="category">
          <a href="#buildings" ng-click="clearFilter()">
            <i class="fa fa-minus-circle"></i>
            필터해제</a>
        </li>
        <li class="active" role="category">
          <a href="#buildings" ng-click="setDealFilter('주택')">
            <i class="fa fa-home"></i>
            주택</a>
        </li>
        <li role="category">
          <a href="#buildings" ng-click="setDealFilter('상가')">
            <i class="fa fa-shopping-cart"></i>
            상가</a>
        </li>
        <li role="category">
          <a href="#buildings" ng-click="setDealFilter('사무실')">
            <i class="fa fa-building-o"></i>
            사무실</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="authenticated">
          <a href="#login">
            <i class="fa fa-lock"></i>
            로그인</a>
        </li>
        <li ng-show="authenticated">
          <a href="#">
            {{current_user}}님 환영합니다</a>
        </li>
        <li ng-show="authenticated">
          <a href="#login" ng-click="logout()">
            <i class="fa fa-unlock"></i>
            로그아웃</a>
        </li>
        <li>
          <a href="#register">
            <i class="fa fa-inbox"></i>
            관리자</a>
        </li>
      </ul>

    </div>

    <div class=" container-fluid" ng-show="authenticated">
      <!-- 검색창 -->
      <form class="navbar-form navbar-left" role="search">
        <div class="input-group container-fluid">
          <span class="input-group-btn">
            <button class="btn btn-info" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
          <input class="form-control" ng-change="search(value)" ng-model="value" placeholder="검색" type="text">
        </div>
      </form>

      <!-- 두번째 줄 네비 -->
      <ul class="" style="margin:0.5em 0 0.6em 0.8em; padding:0;">
        <li class="btn red" ng-click="setCategoryFilter('매매')">매매
          <span class="hidden-xs"></span>
        </li>
        <li class="btn green">전세
          <span class="hidden-xs"></span>
        </li>
        <li class="btn blue">월세
          <span class="hidden-xs"></span>
        </li>
        <li class="btn lemon">렌트
          <span class="hidden-xs"></span>
        </li>
        <li class="btn btn-default">총
          {{dbCounter}}개</li>

      </ul>
    </div>
  </div>
  <!--container-fluid-->
</div>
