<div class="col-xs-12 col-sm-12 col-lg-10">
  <form class="panel panel-primary margin-top-xs" name="signUpForm" ng-submit="post()" role="form">

<!-- 패널 헤더 -->
    <div class="panel-heading" id="addBuilding">
      <div class="container-fluid nopadding">
        <div class="font-xl" style="margin-bottom:0.2em;">매물 수정 / 기입</div>
        <ul class="col-lg-12 col-sm-12 list-unstyled">
<!-- 분류 드롭다운 메뉴 -->
          <li class="dropdown col-sm-1 nopadding" dropdown="test">
            <button class="btn btn-default btn-block dropdown-toggle" dropdown-toggle href="">
              <span class="pull-left">{{building.category}}
                <i class="fa fa-caret-down"></i>
              </span>
            </button>

<!-- 드롭다운 클릭시 -->
            <ul class="dropdown-menu" dropdown-menu>
              <li>
                <a ng-click="selectCategory('주택')">주택</a>
              </li>
              <li>
                <a ng-click="selectCategory('상가')">상가</a>
              </li>
              <li>
                <a ng-click="selectCategory('사무실')">사무실</a>
              </li>
            </ul>
          </li>

          <li class="col-sm-3 leftpadding">
            <input class="form-control" name="address" ng-minlength="2" ng-model="building.address" ng-required="true" placeholder="주소" type="text">
          </li>
          <li class="col-sm-2 leftpadding">
            <input class="form-control" ng-minlength="2" ng-model="building.title" ng-required="true" placeholder="건물명" type="text">
          </li>
          <li class="col-sm-1 leftpadding">
            <input class="form-control" ng-model="building.roomNum" placeholder="호(층)" type="text">
          </li>

          <li class="col-sm-1 leftpadding">
            <input class="form-control" ng-model="building.size" placeholder="면적" type="text">
          </li>
          <li class="col-sm-1 leftpadding">
            <input class="form-control" ng-model="building.bedRooms" placeholder="방" type="text">
          </li>
          <li class="col-sm-2 col-lg-1 leftpadding">
            <input class="form-control" ng-model="building.bathRooms" placeholder="화장실" type="text">
          </li>

        </ul>
      </div>
    </div>

<!-- 패널 바디 -->
    <div class="panel-body grey padding-sm">
      <div class="container-fluid">
<!-- 가격정보 -->
        <div class="col-sm-2 nopadding text-center">
          <div class="panel panel-default nopadding">
            <table class="table table-responsive">
              <tr>
                <td class="red col-xs-4 col-sm-5 col-lg-4">매매</td>
                <td class="col-sm-8 nopadding"><input class="form-control" ng-model="building.priceSale" type="text"></td>
              </tr>
              <tr>
                <td class="green">전세</td>
                <td class="nopadding"><input class="form-control" ng-model="building.priceLease" type="text"></td>
              </tr>
              <tr>
                <td class="blue">월세</td>
                <td class="nopadding"><input class="form-control" ng-model="building.priceMonthly" type="text"></td>
              </tr>
              <tr>
                <td class="lemon">렌트</td>
                <td class="nopadding"><input class="form-control" ng-model="building.priceRent" type="text"></td>
              </tr>
            </table>
<!-- 스크립트상에서 번호가 바로 올라가지 않아 기입 -->
            <!-- <div ng-show="false">
              {{building.postNum}}
            </div> -->

          </div>
        </div>

<!-- 연락처 -->
        <div class="col-sm-3 leftpadding text-center">
          <div class="panel panel-default nopadding">
            <table class="table">
              <tr>
                <td class="info col-xs-4 col-sm-4 col-lg-3">주인</td>
                <td class="nopadding"><input class="form-control" ng-model="building.phoneNum01" type="tel"></td>
              </tr>
              <tr>
                <td class="info">경비</td>
                <td class="nopadding"><input class="form-control" ng-model="building.phoneNum02" type="tel"></td>
              </tr>
              <tr>
                <td class="info">세입자</td>
                <td class="nopadding"><input class="form-control" ng-model="building.phoneNum03" type="tel"></td>
              </tr>
              <tr>
                <td class="info">대리인</td>
                <td class="nopadding"><input class="form-control" ng-model="building.phoneNum04" type="tel"></td>
              </tr>
            </table>
          </div>
        </div>

<!-- 계약/만기일 -->
        <div class="col-sm-3 leftpadding text-center">
          <div class="panel panel-default nopadding">
            <table class="table">
              <tr>
                <td class="grey col-xs-4 col-sm-5">만기일</td>
                <td class="nopadding"><input class="form-control" ng-model="building.endDate" type="text"></td>
              </tr>
              <tr>
                <td class="grey">계약일</td>
                <td class="nopadding"><input class="form-control" ng-model="building.contractDate" type="text"></td>
              </tr>
              <tr>
                <td class="grey">준공</td>
                <td class="nopadding"><input class="form-control" ng-model="building.builtDate" type="text"></td>
              </tr>

            </table>
          </div>
        </div>

        <div class="col-sm-4 leftpadding">
          <div class="panel panel-default">
            <table class="table table-striped">
              <tr>
                <td>
                  비고
                </td>
              </tr>
              <tr>
                <td class="nopadding"><input class="form-control" ng-model="building.comment" type="text"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

<!-- 삭제,수정버튼 -->
      <div class="pull-right">
        <span>
          <button class="btn btn-default btn-lg" ng-click="testPost()">
            테스트</button>
        </span>
        <span class="">
          <button class="btn btn-success btn-lg" type="submit">
            <i class="fa fa-check fa-lg"></i>
            기입
          </button>
        </span>
        <span class="" style="padding-left:0.2em;">
          <button class="btn btn-danger btn-lg">
            <i class="fa fa-times fa-lg"></i>
            취소
          </button>
        </span>

      </div>
    </div>
  </form>

  <div class="col-xs-12 col-md-12 alert alert-warning" ng-show="signUpForm.address.$error.minlength" role="alert">유효성검증 테스트, 4자 이상 입력해주세요</div>

</div>
