<div class="col-sm-10 col-xs-10 col-lg-10">

<!-- NOTE: 테스트용, 나중에 지울 수 있음 -->
  <div ng-hide="true" ng-include="'views/pages/addBuilding.html'"></div>
<!-- 메인 -->
  <div class="container-fluid nopadding">
    <div ng-repeat="building in buildings | filter:enteredValue | filter:dealFilter | filter:categoryFilter | orderBy:'postedAt':true">
      <div class="panel panel-primary" style="margin-bottom:0.7em;">
<!-- 패널 헤더 -->
        <div class="panel-heading container-fluid">
<!-- 주택명, 호수 -->
          <span class="font-xl font-sm-sm nopadding col-sm-3 col-xs-12  col-lg-2">
            {{building.title}}
            {{building.roomNum}}
          </span>

          <span class="container-fluid nopadding font-lg font-sm-xs">
<!-- /주소 -->
            <span class="">
              <i class="fa fa-home" ng-show="building.category =='주택'"></i>
              <i class="fa fa-shopping-cart" ng-show="building.category =='상가'"></i>
              <i class="fa fa-building" ng-show="building.category =='사무실'"></i>
              {{building.category}}
            </span>
            <span class="">&nbsp;
              <i class="fa fa-map-o"></i>&nbsp;
              {{building.address}}
            </span>
<!-- xs 사이즈에서 한칸 띄운다 -->
            <br class="visible-xs">
<!-- 전용면적 -->
            <span class="">&nbsp;
              <i class="fa fa-crop"></i>&nbsp;
              {{building.size}}평
            </span>
<!-- 룸갯수 -->
            <span class="">&nbsp;
              <i class="fa fa-th-large"></i>&nbsp;
              {{building.bedRooms}}룸
            </span>
<!--화장실 갯수 -->
            <span class="">&nbsp;
              <i class="fa fa-tint"></i>&nbsp;
              {{building.bathRooms}}개
            </span>

<!-- 수정 및 삭제 버튼들 -->
            <span class="pull-right hidden-xs">
              <span>#
                {{building.postNum}}
                번&nbsp;</span>
<!-- 수정 -->
              <span>
                <button class="btn btn-default btn-sm">
                  <i class="fa fa-pencil fa-lg"></i>
                </button>
              </span>
<!-- 삭제버튼 -->
              <span>
                <button class="btn btn-default btn-sm" ng-click="deleteBuilding(building)">
                  <i class="fa fa-times fa-lg"></i>
                </button>
              </span>
            </span>
          </span>
        </div>

<!-- 패널 바디 -->
        <div class="panel-body grey padding-sm">
<!-- 가격정보 -->
          <div class="col-sm-2 leftpadding text-center">
            <div class="panel panel-default nopadding">
              <table class="table table-bordered table-responsive">
                <tr ng-hide="building.priceSale == null">
                  <td class="col-sm-5 col-xs-4 red">매매</td>
                  <td>{{building.priceSale}}억</td>
                </tr>
                <tr ng-hide="building.priceLease == null">
                  <td class="col-sm-5 col-xs-4 green">전세</td>
                  <td>{{building.priceLease}}억</td>
                </tr>
                <tr ng-hide="building.priceMonthly == null">
                  <td class="col-sm-5 col-xs-4 blue">월세</td>
                  <td>{{building.priceMonthly}}억</td>
                </tr>
                <tr ng-hide="building.priceRent == null">
                  <td class="col-sm-5 col-xs-4 lemon">렌트</td>
                  <td>{{building.priceRent}}억</td>
                </tr>
              </table>
            </div>
          </div>

<!-- 연락처 -->
          <div class="col-sm-3 leftpadding text-center">
            <div class="panel panel-default nopadding">
              <table class="table table-bordered">
                <tr ng-hide="building.phoneNum01 == null">
                  <td class="info col-xs-4 col-sm-4 col-lg-6">
                    주인</td>
                  <td>{{building.phoneNum01}}</td>
                </tr>
                <tr ng-hide="building.phoneNum02 == null">
                  <td class="info col-xs-4 col-sm-4 col-lg-6">경비</td>
                  <td>{{building.phoneNum02}}</td>
                </tr>
                <tr ng-hide="building.phoneNum03 == null">
                  <td class="info col-xs-4 col-sm-4 col-lg-6">세입자</td>
                  <td>{{building.phoneNum03}}</td>
                </tr>
                <tr ng-hide="building.phoneNum04 == null">
                  <td class="info col-xs-4 col-sm-4 col-lg-6">대리인</td>
                  <td>{{building.phoneNum04}}</td>
                </tr>
              </table>
            </div>
          </div>

<!-- 계약/만기일 -->
          <div class="col-sm-3 leftpadding text-center">
            <div class="panel panel-default nopadding">
              <table class="table table-bordered">
                <tr ng-hide="building.endDate == null">
                  <td class="grey col-xs-4 col-sm-4 col-lg-6">만기일</td>
                  <td>{{building.endDate | date:'yyyy.MM.dd'}}</td>
                </tr>
                <tr>
                  <td class="grey col-xs-4 col-sm-4 col-lg-6">갱신일</td>
                  <td>{{building.postedAt | date:'yyyy.MM.dd'}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="col-sm-4 leftpadding">
            <div class="panel panel-default nopadding">
              <table class="table table-bordered">
                <tr>
                  <td class="grey col-xs-2 text-center">
                    비고
                  </td>
                  <td>
                    <p class="font-grey nopadding" ng-show="building.comment == null">내용이 없습니다</p>
                    {{building.comment}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 사이드바 -->
<div class="col-lg-2 hide-sm nopadding fixed-sidebar">
  <div ng-include="'views/sideBar.html'"></div>
</div>
