<div class="col-sm-12 col-xs-12 col-lg-12 margin-main">

  <!-- NOTE: 테스트용, 삭제가능 -->
  <!-- <div ng-hide="false" ng-include="'views/pages/post.html'"></div> -->
  <!-- 메인 -->
  <div class="container-fluid nopadding">
    <div ng-repeat="post in posts | filter:{name: enteredValue, level:selectedLevel, rare:selectedRare, category:selectedCategory, type:selectedType} | orderBy:'postedAt':true">
    <div class="alert alert-warning" ng-repeat="empty">해당 조건에 해당되는 유닛이 없습니다. :)</div>
    <!-- {{posts.length}} -->
      <div class="panel panel-primary" style="margin-bottom:0.7em;">
        <!-- 패널 헤더 -->
        <div class="panel-heading container-fluid">
          <!-- 이름 -->
          <span class="font-xl font-sm-sm nopadding col-sm-3 col-xs-12  col-lg-2">
            {{post.name}}
          </span>

          <span class="container-fluid nopadding font-lg font-sm-xs">
            <!-- 레벨 -->
            <span class="btn btn-success">
              <i class="fa fa-star"></i>
              {{post.level}}
              레벨
            </span>
            <!-- 희귀도 -->
            <span class="btn btn-success">
              <i class="fa fa-link"></i>
              {{post.rare}}
            </span>
            <!-- xs 사이즈에서 한칸 띄운다 -->
            <br class="visible-xs">
            <!-- 직업 -->
            <span class="btn btn-warning">
              <i class="fa fa-hand-rock-o"></i>
              {{post.category}}
            </span>
            <!-- 속성 -->
            <span class="btn btn-default">
              <i class="fa fa-child"></i>
              {{post.type}}
            </span>

            <!-- 수정 및 삭제 버튼들 -->
            <span class="pull-right hidden-xs">
              <span>
                작성자
                {{post.postedBy}}
                &nbsp;</span>
              <span>#
                {{post.postNum}}
                번&nbsp;</span>
              <!-- 수정 -->
              <span>
                <button class="btn btn-default btn-sm">
                  <i class="fa fa-pencil fa-lg"></i>
                </button>
              </span>
              <!-- 삭제버튼 -->
              <span>
                <button class="btn btn-default btn-sm" ng-click="deleteBuilding(post)">
                  <i class="fa fa-times fa-lg"></i>
                </button>
              </span>
            </span>
          </span>
        </div>

        <!-- 패널 바디 -->
        <div class="panel-body grey padding-sm">
          <div class="col-sm-3">
            <span class="btn btn-info">
              <i class="fa fa-gavel fa-lg"></i>
              공격
              {{post.attack}}
            </span>
            <span class="btn btn-warning">
              <i class="fa fa-shield fa-lg"></i>
              체력
              {{post.hitpoint}}
            </span>
          </div>
          <div class="col-sm-4 leftpadding">
            <div class="panel panel-default nopadding">
              <table class="table table-bordered">
                <tr>
                  <td class="grey col-xs-4 text-center">
                    유닛 설명
                  </td>
                  <td>
                    <p class="font-grey nopadding" ng-show="post.comment == null">내용이 없습니다</p>
                    {{post.comment}}
                  </td>
                </tr>
              </table>
            </div> <!-- panel posts.comment -->
          </div>
        </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div> <!-- ng-repeat -->
  </div> <!-- container -->
</div> <!-- col-sm-12 -->

<!-- 사이드바 -->
<!-- <div class="col-lg-2 hide-sm nopadding fixed-sidebar">
  <div ng-include="'views/sideBar.html'"></div>
</div> -->
