<div class="col-xs-12 col-sm-6 col-lg-6 col-sm-offset-3">
  <form class="panel panel-primary" name="signUpForm" ng-submit="addPost()" role="form">

    <!-- 패널 헤더 -->
    <div class="panel-heading" id="addBuilding">
      <div class="container-fluid nopadding">
        <div class="font-xl" style="margin-bottom:0.2em;">신규 유닛 추가</div>
        <ul class="col-lg-12 col-sm-12 list-unstyled">

          <li class="btn btn-success">레벨
            {{selectedLevel}}</li>
          <li class="btn btn-success">등급
            {{selectedRare}}</li>
          <li class="btn btn-warning">직업
            {{selectedCategory}}</li>
          <li class="btn btn-default">타입
            {{selectedType}}</li>
          <li class="btn btn-info">스탯
            {{baseStatus + selectedLevel + rareBonus}}</li>

        </ul>
      </div>
    </div>

    <!-- 패널 바디 -->
    <div class="panel-body grey padding-sm">

      <!-- Row 1  -->

      <span class="btn btn-info btn-lg ">
        <i class="fa fa-gavel fa-lg"></i>
        공격
        {{attack}}
      </span>
      <span class="btn btn-warning btn-lg ">
        <i class="fa fa-shield fa-lg"></i>
        체력
        {{hitpoint}}
      </span>

      <!-- Row 2 -->
      <div class="panel panel-default" style="margin-top:0.5em">
        <table class="table table-striped">
          <tr>
            <td>
              유닛 이름
            </td>
          </tr>
          <tr>
            <td class="nopadding"><input class="form-control" ng-model="post.name" placeholder="이름을 입력해주세요" type="text"></td>
          </tr>
        </table>
      </div>

      <!-- Row 3 -->
      <div class="panel panel-default">
        <table class="table table-striped">
          <tr>
            <td>
              유닛 설명
            </td>
          </tr>
          <tr>
            <td class="nopadding"><input class="form-control" ng-model="post.comment" placeholder="설명을 입력해주세요" type="text"></td>
          </tr>
        </table>
      </div>

      <!-- 삭제,수정버튼 -->
      <div class="pull-right">
        <span class="">
          <button class="btn btn-success btn-lg" type="submit">
            <i class="fa fa-check fa-lg"></i>
            DB등록
          </button>
        </span>
        <span class="" style="padding-left:0.2em;">
          <a href="#">
            <button class="btn btn-danger btn-lg">
              <i class="fa fa-times fa-lg"></i>
              취소
            </button>
          </a>
        </span>
      </div>

    </div>
  </form>

  <div class="col-xs-12 col-md-12 alert alert-warning" ng-show="signUpForm.address.$error.minlength" role="alert">유효성검증 테스트, 4자 이상 입력해주세요</div>

</div>
